
    <div id="page-contents">
    	<div class="container">
    		<div class="row">

    
 <div class="Message" id="js-timer">
  <div class="Message-icon">
    <i class="fa fa-bell-o"></i>
  </div>
  <div class="Message-body">
    <p>This is a simple, but friendly, notification.</p>
    <p class="u-italic">It will disappear within a few seconds.</p>
  </div>
  <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
</div>

<div class="Message Message--orange">
  <div class="Message-icon">
    <i class="fa fa-exclamation"></i>
  </div>
  <div class="Message-body">
    <p>Super man liked your command</p>
    <p>If you bring you mouse here you can close it manually.</p>
  </div>
  <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
</div>


<div class="Message Message--green">
  <div class="Message-icon">
    <i class="fa fa-check"></i>
  </div>
  <div class="Message-body">
    <p>Spiderman commented on World Wide "Web" !</p>
    <p>Good job, and good riddance.</p>
  </div>
  <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
</div>

<div class="Message Message--red">
  <div class="Message-icon">
    <i class="fa fa-times"></i>
  </div>
  <div class="Message-body">
    <p>Joker mentioned you on Why so serious?</p>
    <button class="Message-button" id="js-helpMe">Yikes, </button>
    <button class="Message-button js-messageClose">Don't care.</button>
  </div>
  <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
</div>

<div class="Message">
  <div class="Message-icon">
    <i class="fa fa-bell-o"></i>
  </div>
  <div class="Message-body">
    <p>Do you know that you can assign status and relation to a company right in the visit list?</p>
    <button class="Message-button" id="js-showMe">Show me how</button>
    <button class="Message-button js-messageClose">Nah, not interested</button>
  </div>
  <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
</div>

<div class="Message Message--orange">
  <div class="Message-icon">
    <i class="fa fa-exclamation"></i>
  </div>
  <div class="Message-body">
    <p>You haven't authorized your LinkedIn account. Would you like some help with that?</p>
    <p class="u-italic">With your account connected we can show you what connections you have at a company that visited your site!</p>
    <button class="Message-button" id="js-authMe">Authorize!</button>
    <button class="Message-button js-messageClose">I'll just keep using carrier pigeons</button>
  </div>
  <button class="Message-close js-messageClose"><i class="fa fa-times"></i></button>
</div>
  













    <!--preloader-->
    <div id="spinner-wrapper">
      <div class="spinner"></div>
    </div>
 <!-- Scripts
    ================================================= -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky-kit.min.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/script.js"></script>
     <script src="js/notification.js"></script>

  
  </body>
</html>
